@model _3.BonusChallenge.Models.ResultModel

<div>
    <label>Input: </label>
    <div>@String.Join(", ", @Model.Input)</div>

    <label>Results: </label>
    <ul>
        @foreach (var item in Model.Results)
        {
            <li>
                @String.Join(", ", item)
            </li>
        }
    </ul>
</div>
